
<div class=" bg-body-tertiary py-5">

    <div class="container">

        <h4>Get The Fresh Cart App</h4>
        <p class="text-muted"> We Will Send You a Link , Open it On Your Phone</p>
        <div class="d-flex  pb-3 border-bottom ">
        <input type="text" class="form-control w-75 mx-auto" placeholder="Email....">
        <button class="btn text-light text-white">Send App Link</button>
        </div>

        <div class="d-flex justify-content-between ">

        <div class="d-flex w-75 mt-3">
            <h5 class="paymentH5 mt-3 me-2 ">Payment Partners</h5>
            <img src="assets/images/images.png" class="footerImg object-fit-contain me-1 mt-1" alt="amazon payment image">
            <img src="assets/images/american-express-logo.png" class="footerImg object-fit-contain me-1 mt-1" alt="american Express image">
            <img src="assets/images/PayPal-Logo.png" class="footerImg object-fit-contain me-1 mt-1" alt="pay pal image">
            <img src="assets/images/images (1).png" class="footerImg object-fit-contain mt-1" alt="master card image">
            </div>

        <div class="d-flex justify-content-between ">
            <h5 class="getDeliveryH6 mt-4 me-1">Get delivery with FreshCart</h5>
            <img src="assets/images/itunes-app-store-logo.png" class="footerImg object-fit-contain me-2" alt="Apple download store">
            <img src="assets/images/en_badge_web_generic.png" width="110px" class="object-fit-contain" alt="Google Play download store">
        </div>

        </div>
    </div>
</div>

